<div class="column">
  <div class="shortUrl d-flex justify-content-center">
    <a href="https://stormy-basin-89488.herokuapp.com/{{randomUrl}}">
      <h1 id="shortenerUrl"> <span>https://stormy-basin-89488.herokuapp.com/</span>{{randomUrl}}</h1>
    </a>
  </div>
  <div class="copyBtn d-flex justify-content-center">
    <button class="btn btn-primary m-3" onclick="copySystem()">Copy</button>
  </div>
</div>